/* video in the background */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1; 
}

body {
    color: white;
    font-family: 'Bubblegum Sans', cursive;
    margin: auto;
    width: auto;
}

.navbar-brand {
    font-family: 'Syne Tactile', cursive;
    font-size: 40px;
    padding: 1rem;
}

.logo {
    width: 30px;
    height: 30px;
}

.modals {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: .5rem;
    padding: 1rem;
}

.modal-content {
    color: black;
    background-color: aliceblue;
}

.modal-content h3,p {
    margin: .2rem;
}

.container {
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    opacity: 0.8;
    border: 5px solid white;
    padding: 10px;
    border-radius: 25px;
    width: 90%;
}

.story-box {
    color: rgb(0, 0, 58);
    text-align: center;
    font-weight: 150;
    font-size: large;
}

/* css for html-two */
.link-nav {
    text-decoration: none;
    color: #fff;
}

.player-side {
    margin: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    padding: 10px;
    border-radius: 25px;
}

.player {
    text-align: center;
    color: black;
}

.middle-table {
    width: 6rem,
}

.score-area {
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 10px;
    border-radius: 25px;
    width: 60%;
}

.title {
    text-align: center;
}


/* card element */
.card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    border: solid #fff;
    border-radius: .2rem;
    width: 5rem;
    height: 6.5rem;
    background-color: rgb(226, 226, 217);
}

.suite {
    display: flex;
    flex-direction: row;
}

.suite-left {
    display: flex;
    align-self: flex-start;
    margin-top: .15rem;
    margin-left: .15rem;
    width: 1.2rem;
    height: 1.2rem;
}

.suite-right {
    display: flex;
    align-self: flex-end;
    margin-bottom: .15rem;
    margin-right: .15rem;
    width: 1.2rem;
    height: 1.2rem;
}

.suite-middle {
    display: flex;
    align-self: center;
    width: 2.8rem;
    height: 3.4rem;
}

/* card images - suite */
.suite-img-1 {
    background-image: url('/assets/images/suite_ab.png'); 
}
.suite-img-2 {
    background-image: url('/assets/images/suite_ab.png');
}
.suite-img-3 {
    background-image: url('/assets/images/suite_ab.png');
}
.suite-img-4 {
    background-image: url('/assets/images/suite_ab.png');
}

/* card images - actor */
.figure-img-1 {
    background-image: url('/assets/images/queen.png');
}
.figure-img-2 {
    background-image: url('/assets/images/two.png');
}
.figure-img-3 {
    background-image: url('/assets/images/three.png');
}
.figure-img-4 {
    background-image: url('/assets/images/queen.png');
}
.figure-img-5 {
    background-image: url('/assets/images/queen.png');
}
.figure-img-6 {
    background-image: url('/assets/images/six.png');
}
.figure-img-7 {
    background-image: url('/assets/images/queen.png');
}
.figure-img-8 {
    background-image: url('/assets/images/eight.png');
}
.figure-img-9 {
    background-image: url('/assets/images/nine.png');
}
.figure-img-10 {
    background-image: url('/assets/images/queen.png');
}
.figure-img-11 {
    background-image: url('/assets/images/queen.png');
}
.figure-img-12 {
    background-image: url('/assets/images/queen.png');
}
.figure-img-13 {
    background-image: url('/assets/images/queen.png');
}

/* media query */

@media (min-width: 40em) {
.modals {
    float: right;
}

.container {
    width: 60%;
}

.player-side {
    gap: 1rem;
}

.player-middle {
    padding: 2rem 0 2rem 0;
    display: flex;
    gap: 3rem;
}
}