/* video in the background */
#myVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1; 
}

body {
    color: white;
    font-family: 'Orbitron', sans-serif;
    margin: auto;
    width: auto;
}

.navbar-brand {
    font-family: 'Syne Tactile', cursive;
    font-size: 40px;
    padding: 1rem;
}

.logo {
    width: 30px;
    height: 30px;
}

.modal-content {
    color: black;
}

.modal-content h2,p {
    margin: 1rem;
}

/* css for html-one */
.container {
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    opacity: 0.8;
    border: 5px solid white;
    padding: 10px;
    border-radius: 25px;
    width: 60%;
}

.story-box {
    color: navy;
    text-align: center;
}

/* css for html-two */
.modals {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
}

.link-nav {
    text-decoration: none;
    color: #fff;
}

.player-side {
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 10px;
    border-radius: 25px;
    width: 60%;
}

.player {
    text-align: center;
}

.score-area {
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 10px;
    border-radius: 25px;
    width: 60%;
}

.title {
    text-align: center;
}


/* card element */
.card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    border: solid #fff;
    border-radius: .2rem;
    width: 5rem;
    height: 6.5rem;
    background-color: rgb(226, 226, 217);
}

.suite {
    display: flex;
    flex-direction: row;
    width: 1.2rem;
    height: 1.2rem;
}

.suite-left {
    display: flex;
    align-self: flex-start;
    margin-top: .15rem;
    margin-left: .15rem;
}

.suite-right {
    display: flex;
    align-self: flex-end;
    margin-bottom: .15rem;
    margin-right: .15rem;
}

.suite-middle {
    display: flex;
    align-self: center;
    width: 2.8rem;
    height: 3.4rem;
}

/* card images - suite */
.suite-img-a {
    background-image: url('/assets/images/img1-temp.jpg');
}
.suite-img-b {
    background-image: url('/assets/images/img1-temp.jpg');
}
.suite-img-c {
    background-image: url('/assets/images/img1-temp.jpg');
}
.suite-img-d {
    background-image: url('/assets/images/img1-temp.jpg');
}

/* card images - actor */
.suite-img-2 {
    background-image: url('/assets/images/img1-temp.jpg');
}
.suite-img-3 {
    background-image: url('/assets/images/img1-temp.jpg');
}
.suite-img-4 {
    background-image: url('/assets/images/img1-temp.jpg');
}
.suite-img-5 {
    background-image: url('/assets/images/img1-temp.jpg');
}
.suite-img-6 {
    background-image: url('/assets/images/img1-temp.jpg');
}
.suite-img-7 {
    background-image: url('/assets/images/img1-temp.jpg');
}
.suite-img-8 {
    background-image: url('/assets/images/img1-temp.jpg');
}
.suite-img-9 {
    background-image: url('/assets/images/img1-temp.jpg');
}
.suite-img-king {
    background-image: url('/assets/images/img1-temp.jpg');
}
.suite-img-queen {
    background-image: url('/assets/images/card-queen.png');
}
.suite-img-jack {
    background-image: url('/assets/images/img1-temp.jpg');
}
.suite-img-ace {
    background-image: url('/assets/images/img1-temp.jpg');
}

/* media query */
@media (min-width: 40em) {
.modals {
    float: right;
    }
}